<!DOCTYPE html>
<html style="scroll-behavior: smooth;border:0;">
<head>
	<title>Chatbot</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="style.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
	<script src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="index.js"></script>
</head>
<body>
	<div id="accueil">
		<img src="images/EISTI.svg">
	</div>

	<div id="menu">
		<div id="open"><a href="#open">&#9776;</a></div>
		<div id="close"><a href="#fermer">&#10005;</a></div>
		<div class="liens">
			<a href="#accueil">Accueil</a>
			<a href="#infos">Explications</a>
			<a href="#chatbot">Chatbot</a>
			<!--<a href="#contact">Contact</a>-->
		</div>
	</div>

	<div id="infos">
        <div class="title">Explications</div>
        <div class="box">
          <span><h3>Le sujet&nbsp;:</h3> Durant notre première année de cycle préparatoire ingénieur, notre TIPE portait sur la comparaison entre les algoritmes procéduraux et de machine learning pour le Traitement Automatique du Langage Naturel (TALN). Nous avons déterminé quels traitements théoriques doivent être appliqués au langage pour que l'ordinateur puisse le comprendre&nbsp;: aspect syntaxique, morphologique, sémantique et pragmatique. Que ceux-ci soient pré-programmés et reconnus via des filtres prévus à cet effet par un développeur ou bien déduits et compris de façon automatique par un algorithme de machine learning</span>
        </div>

        <div class="box">
          <span> <h3>Qu'est ce qu'un chatbot&nbsp;:</h3>
            Les chatbots sont les nouveaux outils web étant à l'origine de conversation instantanée. Ces nouveaux programmes sont dotés d'intelligence artificielle leur permettant de discuter avec des utilisateurs et de proposer des services adaptés à leurs demandes. Ces bots sont généralement  implémentés au sein d'une application de messagerie instantanée ou d'un site web.
          </span>
    	</div>

        <div class="box">
          <span><h3>Le projet&nbsp;:</h3>
            Notre projet fut de réaliser un chatbot permettant de répondre à des questions basiques. Traiter des requêtes vis à vis de chaque individu afin de rendre le contact ordinateur/humain ludique. Par choix et pour simplifier la vie des étudiants, nous avons voulu que note chatbot réponde à des questions vis à vis de Arel. L'utilisateur peut alors obtenir des informations sur sa scolarité en discutant avec ce chatbot
          </span>
        </div>

        <div class="box">
          <span><h3>Comment&nbsp;?</h3>
            Le fonctionnement de notre chatbot repose sur un algorithme créé au long de l'année. Un chatbot peut fonctionner de différentes manières. Le chatbot est capable de décrypter les mots-clés de la conversation afin d'y répondre de manière pertinente. Par conséquent plus le message est précis et simple, plus il est facile pour le chatbot d’analyser la phrase et d'y répondre.
          </span>
        </div>
 
    </div>

    <div class="title" id="chatbot"><hr/>Le Chatbot :</div>
	<div id="Chatbot">
		<div class="box22">
		<span id="chatbox"><%- content%></span>
		
		</div>
		<div class="box2" >
			 <span> <h3>Fonctionement&nbsp;:</h3>
			 	Voici EistiBot ! Pour intéragir avec, vous devez vous connecter avec vos identifiants arel pour que le chatbot ait accès à vos informations.
			 	<br>Vous pourrez alors lui poser des questions variées sur votre scolarité telle que vos notes dans une certaine matière ou bien vos absences dans une autre ou encore vos cours à venir les différents jours de la semaine.
        	</span>
		</div>
	</div>
	<div id="contact"></div>
</body>
</html>
