<html style="scroll-behavior: smooth;border:0;">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title>TIPE 2019</title>
		<link rel="stylesheet" type="text/css" href="style.css">
		<script src="/socket.io/socket.io.js"></script>
		<script type="text/javascript" src="index.js"></script>
	</head>
	<body>
		<div class="titre">
			<div class="img"><img src="images/EISTI.svg"></div>
			<p>
				TIPE 2018-2019 : ChatBot<br>
				Nahia Gorrichon	Etienne Coulmeau Thomas Serabian
			</p>
			
		</div>
		<div id="menu">
			<img src="images/EISTI.svg">
			<ul>
				<li><a href="#textes">explications</a></li>
				<li><a href="#chatbot">chatbot</a></li>
				<li><a href="#contact">nous contacter</a></li>
			</ul>
		</div>
		
		<div id="textes" class="lien">
			<div class="bloc">
                <h2>Le sujet :</h2>
                <p>Durant notre première année de cycle préparatoire ingénieur, notre TIPE portait sur la comparaison entre le Traitement Automatique du Langage Naturel (TALN) et le machine learning. Nous avons déterminé quels traitements théoriques doivent être appliqués au langage pour que l'ordinateur puisse le comprendre : aspect syntaxique, morphologique, sémantique et pragmatique. Que ceux-ci soient pré-programmés et reconnus via des filtres prévus à cet effet par un développeur ou bien déduits et compris de façon automatique par un algorithme de machine learning  </p>
            </div>
            <div class="bloc">
                <h2>Comment ?</h2>
                <p> Le fonctionne de notre chatbot repose sur la création d'un algorithme créé au cours de l'année.
                Un chatbot fonctionne de différentes manières. Il peut réagir à la voix de l’utilisateur ou lorsque celui-ci tape quelque chose sur son clavier.Le chatbot est alors capable de décrypter les mots-clés de la conversation afin d'y répondre de manière petinente. Par conséquent plus le message est précis et simple, plus il est facile pour le chatbot d’analyser la requête et d'y répondre.</p>
            </div>
            <div class="bloc">
                <h2>Le projet :</h2>
                <p>
                    Notre projet fut de réaliser un chatbot permettant de répondre à des questions basiques.<br>
					Traiter des requêtes vis à vis de chaque individus afin de rendre le contact ordinateur/humain ludique.
                </p>
            </div>   
			
            <div class="bloc">
                <h2>Qu'est ce qu'un chatbot :</h2>
                <p>
                    Les chatbots sont les nouveaux outils web étant à l'origine de conversation instantanée. 
					Ces nouveaux programmes sont doptés d'intelligence artificielle leur permettant de discuter avec des utilisateurs
					et de proposer des services adaptés à leurs demandes. Ces bots sont implantés au sein d'une application de messagerie
					instantanée ou d'un site web.
                </p>
            </div>		
			
		</div>		
		<div>
			<center>
				<h2 style="font-variant:small-caps;font-family:courier;font-size:200%;margin:1%">Le Chatbot</h2>
			</center>
		</div>
		<div id="chatbot" class="lien">
			<div class="bloc2">
				<h2>Fonctionnement :</h2>
				<p> 
					Ceci est un texte décrivant le projet que nous allons réaliser<br>Par ailleur ce site fait ârtie du projet<br>Merci de votre lecture
				</p>
			</div>
			<div id="chatbox" class="bloc2">
				<%- content %>
			</div>
		</div> 
		
		<div>
			<center>
				<h2 style="font-variant:small-caps;font-family:courier;font-size:200%;margin:1%">Nous Contacter</h2>
			</center>
		</div>
		
		<div id="contact" class="lien">
			
		</div>
	</body>
</html>