body{
		margin:0;
		padding: 0;
		font-family: Roboto;
		font-size: 110%;
        color:rgb(145,145,140);
		background-color: rgb(40,41,35);	}
	#accueil{
		background:url('images/back1.png') fixed center no-repeat;
		background-size : cover;
		height: calc(100vh - 54px);

		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		
	}
	#accueil img{
		width:15%;
		-moz-box-shadow: 0px 0px 50px 1px #656565;
		-webkit-box-shadow: 0px 0px 50px 1px #656565;
		-o-box-shadow: 0px 0px 50px 1px #656565;
		box-shadow: 0px 0px 50px 1px #656565;
		filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=NaN, Strength=50);	
	}

	#menu{
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		height: auto;
		background-color: rgb(40,41,35);
		border : rgb(62,61,60) solid; 
		border-width: 2px 0px 2px 0px;
		position: sticky;
		top:0;
		bottom:0;
		width: 100%;
		z-index:100;
	}
	#menu a{
		text-decoration: none;
		color: rgb(140,140,140);
		font-size: 110%;
		}
	#open{
		width: 100%;
		display: none;
	}
	#close{
		width: 100%;
		display: none;
	}

	.liens{
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		text-align: center;
		width: 100%;
		background-color: rgb(40,41,35);
	}

	.liens a{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 15%;
		height: 50px;
	}
	
	.liens a:hover{
		background-color: rgb(62,61,60);
		transition: 0.3s;
	}


    #infos {
    	padding-top: 63px;
		min-height: calc(100vh - 93px);
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
    }
	

	
	.title {
        flex-basis: 100%;
        margin:20px;
        font-size: 200%;
        text-shadow: 0 0 1em black;
        text-align: center;
        text-align: center;
        font-variant: small-caps;
    }

    .box {
        display: flex;
        width: 500px;
        background-color: rgb(30,31,25);
        padding: 20px;
        margin: 10px;
        min-height: 320px;
        height:auto;
        overflow: hidden;
        border-radius: 2px;
        text-align: justify;
    }

    #chatbot {
        padding-top:33px;
    }

	#Chatbot{
		background: url("images/back2.png") fixed center no-repeat;
		background-size : cover;
		min-height: calc(100vh - 93px);

		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		direction: rtl;
		
	}
	.box2 {
        display: flex;
        width: 400px;
        background-color: rgba(30,31,25,0.75);
        padding: 30px;
        margin: 10px 10px 10px 10px;
        min-height: 400px;
        height:auto;
        overflow: hidden;
        border-radius: 2px;
        text-align: justify;
        direction: ltr;
    }

    .box22 {
    	display: flex;
        width: 450px;
        background-color: rgba(30,31,25,0.75);
        padding: 5px;
        margin: 10px 10px 10px 10px;
        min-height: 450px;
        height:auto;
        overflow: hidden;
        border-radius: 2px;
        text-align: justify;
        direction: ltr;
    }

    #send{	
        font-size:100%;
        color:white;
        height: 35px;
        background-color:#006bac;
        border:none;
        border-radius: 3px;
        cursor: pointer;
	}

	#form{
		margin: 25px;
		display: flex;	
        justify-content: center;
        flex-wrap: wrap;
		width: auto;
		text-align: center;
		}
	#form input{
		border-radius: 15px;
		background-color: #282923;
		color: white;
		padding: 5px 5px 5px 8px;
		border: gray 1px solid;
	}
	#chat{
		background-color: #1e1f19;
		margin-bottom: 5px;
		overflow-y: scroll;
		height: 398px;
		padding: 5px;
	}

	#textbox{
		width: 95%;
		border-radius: 15px;
		background-color: #282923;
		color: white;
		padding: 5px 5px 5px 8px;
		border: gray 1px solid;
	}

	.msgbot p{
		display: inline-block;
		max-width: 80%;
		margin:2px;
		border-radius:0px 10px 10px 10px;
		background-color: #006bac;
		padding: 5px;
		color: white;
		text-align:left;
	}
	.msguser{
		display:block;
		text-align:right;
	}

	.msguser p{
		text-align: left;
		display: inline-block;
		margin:2px;
		border-radius:10px 10px 0px 10px;
		background-color: orange;
		padding: 5px;
		color: black;
		max-width: 80%;
	}

      
	@media screen and (max-width: 750px) {
		#accueil, #Chatbot{
			background-attachment: scroll;
		}
		#accueil img{
			width:35%;
		}
		
		#open, #close{
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			height: 50px;
		}

		#open a,#close a{
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			width: 100%;
			height: 50px;
		}

		.liens a{
			display: none;
			width: 100%;
		}

		#open:target{
			display: none;		
		}
		#open:target ~ #close{
			display: flex;		
		}
		#open:target ~ .liens a{
			display: flex;		
		}

		
		#open a:hover,#close a:hover{
			background-color: rgb(62,61,60);
		}
		#close{
			display: none;
		}
		.box2{
			    margin: 10px 10px 10px 10px;
		}

	}
	
